@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    margin: 0;
    background: rgb(241, 227, 227);
}

nav {
    background: rgb(4, 3, 44);
    color: white;
    padding: 15px;
    text-align: center;

}

.logo {
    max-width: 485px;
    margin-left: 40px;
    height: 200px;
}

div ul {
    list-style-type: none;
}

div ul li {
    display: inline-block;
    margin: 0 15px;
}

div ul li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

div a:hover {
    text-decoration: underline;
}

header {
    padding: 40px;
    background: url('../images/LOGO2.gif');
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid rgb(78, 78, 93);
}

header h1 {
    color: white;
    font-family: Merriweather, sans-serif;
    font-size: 45px;
}

header h4 {
    color: white;
    font-family: Merriweather, sans-serif;
}
.main{
    line-height: 1.6;
}

.main h2 {
    text-align: center;
    padding-top: 20px;
}

.main .ft {
    font-family: caveat, sans-serif;
    text-align: center;
  
    padding-bottom: 30px;
    font-size: 20px;

}

footer {
    background: rgb(4, 3, 44);
    color: white;
    padding: 15px;
    text-align: center;


}

footer a {
    color: white;
}

h2 {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    font-family: play, sans-serif;
}

footer .Q {
    text-align: right;
    font-size: 10px;

}

table {
    border-collapse: separate;
    border: 3px double black;
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}

.belier,
.taureau,
.gemeaux,
.cancer,
.lion,
.vierge,
.balance,
.scorpion,
.sagittaire,
.capricorne,
.verseau,
.poissons {
    width: 45px;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-decoration: none;

}

td,
th {

    border-bottom: 2px solid black;
    border: 1px solid black
}

thead tr:first-child {
    background-color: rgb(4, 3, 44);
    color: white;
    border: 1px solid red;
}

tbody tr:nth-child(even) {
    background-color: rgb(189, 180, 180);


}

tbody tr:nth-child(odd) {
    background-color: rgb(211, 228, 207);

}

tbody a {
    text-decoration: none;
    color: black;
}
.QR{
    line-height: 1.6;
    padding-top: 30px;
}

ul li  {
    padding-bottom: 20px;
}
.po{
   line-height: 1.4;
    font-family: source-serif-4, sans-serif;
    
    margin-top: 15px;
}
.le {
    margin-top: 25px;
}



